<div class="scorehands-modal">
    <div class="scorehands-modal-body">

        <div class="scoreboard">

            <div class="headingscontainer" >
                <section class="title">{{title}}</section>
            </div>

            <div class="handcontainer" *ngIf="playersIndex>=0">
                <section class="playerscards"  *ngIf="this.gc.game.state.activePlayers[playersIndex].hand"> 
                    <section class="shcardwrapper" *ngFor="let card of cards">
                        <span [class.hidden]="card.isInVisible===true">
                            <img src='{{assetsPath}}{{card.imageFile}}' alt=card.card>
                        </span>
                    </section>
                </section>
            </div>

            <div class="headingscontainer" >
                <section class="title">Summary
                        <ul class="scorebreakdownul"> 
                            <li class="scorebreakdownli" *ngFor="let txt of this.scorer.details">{{txt}}</li>
                        </ul>
                </section>
            </div>
 
            <section class="buttoncontainer">
                <div >
                <!--  <span id="modalbutton" class="selectable" (click)="onButtonClick()">{{buttonText}}</span> -->
                
                    <span id="modalbutton"
                        [class.selectable]="isButtonSelectable()"
                        [class.notselectable]="!isButtonSelectable()"
                        (click)="onButtonClick()">
                        {{buttonText}}
                    </span>

                </div>
            </section>
        </div>
        
    </div>
</div>
<div class="scorehands-modal-background"></div>
