/*
https://jasonwatmore.com/post/2018/05/25/angular-6-custom-modal-window-dialog-box
*/

gameover-modal {
    /* modals are hidden by default */
    display: none;
}

.gameover-modal {
    /* modal container fixed across whole screen */
    width: 550px;         /* 50%; */
    height: 90%;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    /* z-index must be higher than .gameover-modal-background */
    z-index: 1000;
    /* enables scrolling for tall modals */
    overflow: auto;
}
    
.gameover-modal-body {
    padding: 10px;
    background: black;
    /* margin exposes part of the modal background */
    margin: 40px;
}

.gameover-modal-background {
    /* modal background fixed across whole screen */
    position: fixed;
    background-size: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* semi-transparent black  */
    background-color: #000;
    opacity: 0.75; 
    /* z-index must be below .gameover-modal and above everything else  */
    z-index: 900;
}

body.gameover-modal-open {
    /* body overflow is hidden to hide main scrollbar when modal window is open */
    overflow: hidden;
}

h1 {
    margin-left: 10px;
}

    .gameovercontainer {
        box-sizing: border-box;
        height: 100%;  
        min-width: 90%;
        padding: 2px; 
        background: #fff;
        border: 2px solid rgb(150, 100, 100);
        border-radius: 0px;
        overflow: auto;
        margin-left: 10px;
    }

    .headingscontainer {
        display: flex;
            border: 1px solid blue;
            border-radius: 5px; 
        box-sizing: border-box;
        height: 50%;  
        min-width: 100%;
        font-family: Arial, Helvetica, sans-serif;
        align-content: right;
        justify-content: center;
        align-items: center;
    }

    .message{
        font: Helvetica;
        font-size:16pt;
        font-weight: bold;
        text-align: center;
        padding: 15px;
        justify-content: center;
    }

    .comment{
        font: Arial;
        font-size:12pt;
        padding: 15px;
        color: red;
        font-weight: bold;
        font-style: italic;
        text-align: center;
        justify-content: center;
            /*
            border: 1px solid cyan;
            border-radius: 5px;
            */
    }

    @media screen and (max-height: 375px) {
        h1 {
            font-size:16pt;
        }
        .message{
            font-size:12pt;
            padding: 5px;
        }
        .comment{
            font-size:10pt;
            padding: 5px;
        }
    }

    .buttoncontainer {
        display: flex;
        /* border: 1px solid red;
        border-radius: 15px; */
        align-content: right;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
    }

