  .playerleft {
    justify-self: right;
    box-sizing: border-box;
    margin: auto;
    padding: 0px;
    width: 100%;
    border: 2px solid rgb(0, 0,0);
    border-radius: 15px;
    overflow: none;
  }

  .lefthandcontainer {
    display: flex;
    float: right;
    height: 100%;
    width: 70%;
    /*
    border: 2px solid blue;
    border-radius: 15px; 
    */
    padding: 0px;
    box-sizing: border-box;
  }

  .righthandcontainer {
    display: flex;
    float: left;
    height: 100%;
    width: 70%;
    /*
    border: 2px solid blue;
    border-radius: 15px; 
    */
    padding: 0px;
    box-sizing: border-box;
  }

  .headingscontainer {
    display: flex;
    /*
    border: 1px solid blue;
    border-radius: 25px;
    */
    box-sizing: border-box;
    /* align-items: right; */
    width: 150%;  
    height: 10%;
    font-family: Arial, Helvetica, sans-serif;

  }

  .leftplayersname{
    display: flex;
    font: Helvetica;
    font-size:12pt;
    text-align: center;
    /*
    border: 1px solid yellow;
    border-radius: 25px;
    */
    padding: 0px;
    box-sizing: border-box;
    transform: rotate(-90deg);
    transform-origin: left top;
    position: relative;
  }
  @media only screen and (max-height: 375px) {
    .leftplayersname { 
      font-size:10pt;
    }
  }

  .rightplayersname{
    display: flex;
    font: Helvetica;
    font-size:12pt;
    text-align: left;
    /*align-items: left;*/
    /*
    border: 1px solid yellow;
    border-radius: 25px;
    */
    padding: 0px;
    box-sizing: border-box;
    transform: rotate(90deg);
    transform-origin: right top;
    position: relative;
  }
  @media only screen and (max-height: 375px) {
    .rightplayersname { 
      font-size:10pt;
    }
  }

  .vplayerscards {
    display: flex;
    flex-wrap: wrap; 
    /*
    border: 1px solid red;
    border-radius: 15px; 
    */
    justify-content: left;
    align-items: left;
    box-sizing: border-box;
    width: 80%; 
  }

 .vcardwrapper {
    display: flex;
    margin: 0px;
    /*
    justify-content: center;
    align-items: center;
    */
    padding: 4px;
    min-width: 50px;
    min-height: 30px;
    max-width: 50px;
    max-height: 30px; /* 42px; */
  }
  @media only screen and (max-height: 375px) {
    .vcardwrapper {
      min-width: 45px;
      min-height: 25px;
      max-width: 45px;
      max-height: 25px;
      padding: 2px;
    }
  }

  .vcardwrapper img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }

 .hidden {
   visibility: hidden;
 }