  .playerleft {
    box-sizing: border-box;
    margin: auto;
    padding: 2px;
    /*
    height: 100%;
    min-height:100%;
    width: 100%;
    min-width: 100%;
    */
    border: 2px solid rgb(0, 0,0);
    border-radius: 15px;
    overflow: auto;

    min-width: 106px; /* 100%; */

  }

  .headingscontainer {
    display: flex;
    border: 1px solid blue;
    border-radius: 25px;
    box-sizing: border-box;
    align-items: left;
    height: 20%;  
    min-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
  }

  .playersname{
    display: inline-flex;
    font: Helvetica;
    font-size:12px;
    text-align: left;
    /* border: 1px solid cyan;
    border-radius: 25px; */
    padding: 0px;
    box-sizing: border-box;
    min-width: 40%;
    height: 100%;  
  }

  .handcontainer {
    display: flex;
    height: 100%;
    width: 100%;
    min-width: 100%; 
    border: 2px solid blue;
    border-radius: 15px; 
    padding: 5px;
    box-sizing: border-box;
  }

  .vplayerscards {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid red;
    border-radius: 15px; 
    justify-content: left;
    align-items: left;
    padding: 0px;
    box-sizing: border-box;
    width: 100%;
  }

 .vcardwrapper {
    display: flex;
    margin: 0px;
    justify-content: center;
    align-items: center;
    padding: 0px;
    max-width: 57px;
    max-height: 70px;
    min-width: 2.5%;
  }

  .vcardwrapper img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }

  .playable img:hover {
    position: relative;
    top: 5px;
    left: 5px;
  }

  .sideview {
    transform: rotate(-90deg);
    transform-origin: center center;
    align-self: flex-end;
    position: relative;
    left: 10px; 

  }
 
  .buttoncontainer {
    display: inline-flex;
    border: 1px solid red;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    padding: 1px;
    box-sizing: border-box;

   }

 .hidden {
   visibility: hidden;
 }