<div *ngIf="gc.game.state.currentActivePlayer!=''" class={{cssClassname}} 
    [class.activePlayer]="playersName===gc.game.state.currentActivePlayer">

    <div class="headingscontainer">
        <section class="playersname"> 
            {{title}}
        </section>
    </div>

    <!-- style="transform: rotate(270deg);  -->

    <div class="handcontainer" >

        <section class="vplayerscards" *ngIf="playersIndex>=0"> 
            <section class="vcardwrapper" *ngFor="let card of gc.game.state.activePlayers[playersIndex].hand">
                <span [class.playable]="isCardPlayable(card)">
                    <img 
                    (click)="onSelectCard(card)" 
                    src='{{assetsPath}}{{card.imageFile}}' alt=card.card>
                </span>
            </section>
        </section>

    </div>
   
    
</div>

