  .myhand {
    box-sizing: border-box;
    margin: auto;
    padding: 0px;
    background-color: white; 
    border: 2px solid rgb(51, 24, 24);
    border-radius: 15px;
    overflow: auto;
  }
  
  .playeropposite {
     box-sizing: border-box;
     margin: auto;
     padding: 0px;
     border: 2px solid rgb(0, 0,0);
     border-radius: 15px;
     overflow: auto;
   }

  .headingscontainer {
    display: flex;
    /* border: 1px solid blue;
    border-radius: 25px; */
    box-sizing: border-box;
    height: 20%;  
    min-width: 95%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 2px;
  }

  .playersname{
    display: inline-flex;
    font: Helvetica;
    font-size:12pt;
    text-align: left;
    /* border: 1px solid cyan;
    border-radius: 25px; */
    padding: 0px;
    box-sizing: border-box;
    min-width: 40%;
    height: 100%;  
  }

  .playermessage{
    display: inline-flex;
    font: Arial;
    font-size:10pt;
    color: red;
    font-style: italic;
    justify-content: flex-end;
    align-content: flex-end;
    vertical-align: center;
    /* border: 1px solid cyan;
    border-radius: 25px; */
    padding: 0px;
    box-sizing: border-box;
    min-width: 60%; 
  }
  @media screen and (max-width: 815px) {
    .playersname { 
      font-size:10pt;
    }
    .playermessage {
      font-size:8pt;
    }
  }

  .handcontainer {
    display: flex;
    height: 80%;
    width: 99%;

    /* border: 2px solid black;
    border-radius: 15px; */
    padding: 0px;
    box-sizing: border-box;
    margin: 2px;
  }

  .playerscards {
    display: inline-flex;
    
    border: 1px solid red;
    border-radius: 15px; 

    justify-content: left;
    align-items: left;
    padding-left: 2px;
    box-sizing: border-box;
    width: 75%;
  }
  
  .cardwrapper {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    min-width: 57px;
    min-height: 70px;
    max-width: 57px;
    max-height: 70px;

  }

  @media screen and (max-width: 815px) {
    .cardwrapper {
      min-width: 43px;
      min-height: 50px;
      max-width: 43px;
      max-height: 50px;
    }
  }

  .cardwrapper img {
    position: relative;
    max-width: 90%;
    max-height: 90%;
    object-fit: cover;
  }
 
  .playable img:hover {
    position: relative;
    top: 5px;
    left: 5px;
 }
  
  .buttoncontainer {
    display: inline-flex;
    border: 1px solid red;
    border-radius: 15px; 
    align-content: right;
    justify-content: right;
    align-items: center;
    padding: 1px;
    box-sizing: border-box;
    width: 20%;

   }

  .actionbutton {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: right;
    align-content: flex-end;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 5% 10%; /*  10px; */
    text-align: center;
    font-size: 12pt;
    cursor: pointer;
  }
  @media screen and (max-width: 815px) {
    .actionbutton {
      padding: 5px;
      font-size: 10pt;
    }
  }
  
  .hidden {
    visibility: hidden;
  }

  .activePlayer {
    background-color: rgb(204, 205, 206);  /* rgb(146, 226, 247) */
    /* text-shadow: 0px 0px 8px rgba(255, 255, 255, 1); */
    /*
    box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
    */
  }
