<div class={{cssClassname}} 
    [class.activePlayer]="playersName===gc.game.state.currentActivePlayer" >

        <div class="headingscontainer" >
            <section class="playersname"> 
                {{title}}
            </section>
            <section class="playermessage"> 
                {{actionMessage}}
            </section>   
        </div>
    
        <div class="handcontainer" *ngIf="playersIndex>=0">
            <section class="playerscards"  *ngIf="this.gc.game.state.activePlayers[playersIndex].hand"> 
                <section class="cardwrapper" *ngFor="let card of gc.game.state.activePlayers[playersIndex].hand">
                    <span [class.playable]="isCardPlayable(card)" [class.hidden]="isCardHidden(card)">
                        <img 
                        (click)="onSelectCard(card)" 
                        src='{{assetsPath}}{{card.imageFile}}' alt=card.card>
                    </span>
                </section>
            </section>

            <section class="buttoncontainer" [class.hidden]="showButton===false">
                <button type="button" class="actionbutton" (click)="onButtonClick()">{{buttonText}}</button>
            </section>

        </div>
      
</div>

