
<div class={{cssClassname}} 
    [class.activePlayer]="playersName===gc.game.state.currentActivePlayer" >

        <div class="headingscontainer" >
            <section class="playersname" (click)="onClickName()"> 
                {{title}}
            </section>
            <section *ngIf="screenPosition=='bottom'" class="playermessage"> 
                {{actionMessage}}
            </section>   
        </div>
    
        <div class="handcontainer" *ngIf="playersIndex>=0">
            <section class="playerscards"  *ngIf="this.gc.game.state.activePlayers[playersIndex].hand"> 
                <section class="cardwrapper" [class.activecardswrapper]="screenPosition=='bottom'" *ngFor="let card of gc.game.state.activePlayers[playersIndex].hand">
                    <div *ngIf="this.showCards=='true'" >
                        <span [class.playable]="isCardPlayable(card)" [class.hidden]="isCardHidden(card)">
                            <img 
                            (click)="onSelectCard(card)" 
                            src='{{assetsPath}}{{card.imageFile}}' alt=card.card>
                        </span>
                    </div>
                    <div *ngIf="this.showCards=='false'" >
                        <span [class.hidden]="isCardHidden(card)">
                            <img src='{{assetsPath}}back.png' alt=card.card>
                        </span>
                    </div>                    
                </section>
            </section>

            <section *ngIf="screenPosition=='bottom'" class="buttoncontainer" [class.hidden]="showButton===false">
                <button type="button" class="actionbutton" (click)="onButtonClick()">{{buttonText}}</button>
            </section>

        </div>
      
</div>

