.body {
    background-color: yellow;
    margin: 0px;
    padding: 0px;
}


.headercontainer {
    height: 40px;
}
.topcontainer {
    height: 95px;
}
.topcontainerwidth {
    width: 320px;
}
.middlecontainer {
    height: 200px; /* 45%; */
}
.bottomcontainer {
    height: 90px;
}
.bottomcontainerwidth {
    width:450px;
}
.messagecontainer {
    height: 25px;
}
.vhandcontainer {
    width:85px;
    max-height: 309px;
    min-height: 309px;
}

.maintitle {
    font-family: Arial, Helvetica, sans-serif;
    font: Helvetica;
    font-size: 20pt;
    padding:2px;
    font-weight: bold;
    color: blueviolet;
    text-align: center;
    justify-self: center;
    margin: auto;
}

.msgcontainer {
    display: flex;
    /*
    border: 1px solid blue;
    border-radius: 2px; 
    */
    align-content: center;
    box-sizing: border-box;
    height: 100%;  
    width: 100%;
    align-self: center;
    margin: auto;
  }

.msgstyle {
    align-self: center;
    display: flex;
    text-align: center;
    vertical-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font: Helvetica;
    font-size: 12pt;
    color: blue;
    margin: auto;
}


/* On screens that are 420px wide or less ... */
@media only screen and (max-height: 425px) {
    .headercontainer {
        height: 0px;
    }
    .maintitle {
        display: none;
        padding:0px;
    }
    .messagecontainer {
        height: 20px;
    }
}

/* On screens that are 375px wide or less ... */
@media only screen and (max-height: 375px) {
    .headercontainer {
        height: 0px;
    }
    .topcontainer {
        height: 80px;
    }
    .topcontainerwidth {
        width:300px;
    }
    .middlecontainer {
        height: 150px; 
    }
    .bottomcontainer {
        height: 75px;
    }
    .bottomcontainerwidth {
        width:320px;
    }
    .messagecontainer {
        height: 20px;
    }
    .vhandcontainer {
        width:60px;
        height: 100px;
    }
    .maintitle {
        display: none;
        padding:0px;
    }
    .messagecontainer {
        height: 15px;
    }
    .msgstyle {
        font-size: 10pt;
        color: black;
    }
}



