<!-- HEADER SECTION -->
<div class="headercontainer"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="2px"
     fxLayoutGap.xs="0">
  <div fxFlex>
    <span class="title" >{{title}}</span>
  </div>
</div>

<!-- TOP SECTION -->
<div class="topcontainer"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="2px"
     fxLayoutGap.xs="0">
  <div fxFlex="15%">
    <app-totalscore seats="NS" scoreIndex=0></app-totalscore>
  </div>
  <div fxFlex="10%"></div>
  <div fxFlex=40%>
    <app-horizontalhand screenPosition="top" cssClassname="playeropposite" showCards="false"></app-horizontalhand>
  </div> 
  <div fxFlex="10%"></div>
  <div fxFlex="15%" fxFlexOrder="3">
    <app-totalscore seats="EW" scoreIndex=1></app-totalscore>
  </div>
</div>

<!-- CENTRAL SECTION -->
<div class="middlecontainer"
  fxLayout
  fxLayout.xs="column"
  fxLayoutAlign="center"
  fxLayoutGap="2px"
  fxLayoutGap.xs="0">
  <div fxFlex="10%" *ngIf="gc.game.state.numActivePlayers>2">
    <!--
    <app-verticalhand *ngIf="gameData.state.numActivePlayers>2" screenPosition="left" cssClassname="playerleft" showCards="false"></app-verticalhand>
    -->
  </div>
  <div fxFlex=80%>
    <app-cardtable></app-cardtable>
  </div>
  <div fxFlex="10%" *ngIf="gc.game.state.numActivePlayers>2">
    <!--
    <app-verticalhand *ngIf="gameData.state.numActivePlayers>2" screenPosition="right" cssClassname="playerleft" showCards="false"></app-verticalhand>
    -->
  </div>
</div>

<!-- BOTTOM SECTION -->
<div class="bottomcontainer"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="2px"
     fxLayoutGap.xs="0">
  <div fxFlex="10%"></div>
  <div fxFlex="10%" fxFlexOrder="6"></div>
  <div fxFlex="40%">
    <app-horizontalhand screenPosition="bottom" cssClassname="myhand" showCards="true"></app-horizontalhand>
  </div>
</div>

<!-- MESSAGE SECTION -->
<div class="bottomcontainer"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="2px"
     fxLayoutGap.xs="0">
  <div fxFlex="40%">
    <div class="msgcontainer">
      <span class="msgstyle">{{this.gc.game.state.publicMessage}}</span>
    </div>
  </div> 
</div>

<!-- GAME INITIALISATION -->

<div *ngIf="!gc.game.config.isSetup" class="container">
  <app-playerregistration></app-playerregistration>
</div>

<div *ngIf="this.doCutDeck()" class="container">
    <app-cutdeck showCards="false"></app-cutdeck>
</div>
<div *ngIf="gc.game.state.currentPhase == 5"> 
  <app-score-hands></app-score-hands>
</div> 
<div *ngIf="gc.game.state.currentPhase == 6">
  <app-gameover></app-gameover>
</div> 

