/*
https://jasonwatmore.com/post/2018/05/25/angular-6-custom-modal-window-dialog-box
*/

players-modal {
    /* modals are hidden by default */
    display: none;
}

.players-modal {
    /* modal container fixed across whole screen */
    width: 550px;         /* 50%; */
    /*height: 90%; */
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;




    
    /*
    top:0;
    
    left: 0;
    
    margin: auto;
    */
    /* z-index must be higher than .players-modal-background */
    z-index: 1000;
    /* enables scrolling for tall modals */
    overflow: auto;
}
   
.players-modal-body {
    padding: 20px;
    background:black;
    /* margin exposes part of the modal background */
    margin: 40px;
}

.players-modal-background {
    /* modal background fixed across whole screen */
    position: fixed;
    background-size: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: 0.75; 
    /* z-index must be below .players-modal and above everything else  */
    z-index: 900;
}

body.players-modal-open {
    /* body overflow is hidden to hide main scrollbar when modal window is open */
    overflow: hidden;
}


.players-modal-playercontainer {
    display: flex-inline;
    margin: auto;
    padding: 2px;
    background-color: yellow;
    border: 5px solid rgb(0, 0,0);
    border-radius: 15px;
    text-align: center;
    overflow: auto;
}

.playerregistration {
    box-sizing: border-box;
    height: 100%;  
    min-width: 100%;
    padding: 2px; 
    background: #fff;
    border: 2px solid rgb(150, 100, 100);
    border-radius: 0px;
    overflow: auto;
  }

  h1 {
      margin-left: 10px;
      padding: 5px;
      margin: 5px;
  }


     .rowcontainer {
    	display: flex;
    	box-sizing: border-box;
   	    width: 100%;
    	height: 100%;
   	    /* min-width: 400px; */
   	    margin: auto;
   	    padding: 2px;
        /* border: 2px solid rgb(0, 0,0); 
    	 border-radius: 15px; */
    	text-align: center;
    	overflow: auto;
     }

     .playercontainer {
    	border: 1px solid red;
    	border-radius: 15px;
    	justify-content: left;
    	align-items: left;
    	margin: 5px;
    	padding-left: 5px;
    	box-sizing: border-box;
        width: 50%;
       
     } 

     .namewrapper {
    	display: flex;
    	width: 100%;
    	box-sizing: border-box;
    	border: 1px solid blue;
    	border-radius: 15px;
    	justify-content: center;
    	align-items: center;
    	margin: auto;
     }

     .playersname {
    	text-align: center;
    	padding: 5px;
        line-height: normal;
        font-family: Arial, Helvetica, sans-serif;
        font: Helvetica;
    	font-size: 16pt;
     }

     .connectbutton {
        vertical-align: middle;
        color:white ;
        margin-bottom: 5px;
        text-transform: uppercase;
        text-decoration: none;
        background: rgb( 96,163, 188);
        padding: 5px;
        border-radius: 50px;
        display: inline-block;
        border: none;
        transition: all 0.4s ease 0s;
     }

     @media only screen and (max-height: 375px) {
        .players-modal {
            width: 350px;
        }
        .players-modal-body  {
            margin: 2px;
            padding: 5px;
        }
        .playersname {
            font-size: 10pt;
            padding: 2px;
        }
        .connectbutton {
            font-size: 8pt;
            margin-bottom: 2px;
            padding: 5px;
        }
        h1 {
            font-size:14pt; 
            padding: 5px;
            margin: 5px;
        }
    }

     .notselectable {
        background: white;
        color: black;
        font-style: italic;
     }

     .selectable:hover {
        text-shadow: 0px 0px 8px rgba(255, 255, 255, 1);
        box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        transition: all 0.4s ease 0s;
     }
