<div class="players-modal">
    <div class="players-modal-body">

        <div class="playerregistration">

            <h1>Who's playing ... ?</h1>

            <!-- Lookup https://stackoverflow.com/questions/55123762/declare-a-variable-and-use-it-in-html -->

                <div class="rowcontainer">
                    <div class="playercontainer">
                        <div class="playersname">{{this.gc.game.config.potentialPlayers[0].name}}</div>
                        <div class="connectbutton"  
                            [class.selectable]="isButtonSelectable(0)"
                            [class.notselectable]="!isButtonSelectable(0)"
                            [style.background]="getButtonStyle(0)"
                            (click)="onClickConnect(0)">
                            {{this.getButtonText(0)}}
                        </div>
                    </div>
                    <div class="playercontainer">
                        <div class="playersname">{{this.gc.game.config.potentialPlayers[2].name}}</div>
                        <div class="connectbutton"   
                            [class.selectable]="isButtonSelectable(2)"
                            [class.notselectable]="!isButtonSelectable(2)"
                            [style.background]="getButtonStyle(2)"
                            (click)="onClickConnect(2)">
                            {{this.getButtonText(2)}}
                        </div>
                    </div>
                </div>

    
                <div class="rowcontainer">
                    <div class="playercontainer">
                        <div class="playersname">{{this.gc.game.config.potentialPlayers[1].name}}</div>
                        <div class="connectbutton"    
                            [class.selectable]="isButtonSelectable(1)"
                            [class.notselectable]="!isButtonSelectable(1)"
                            [style.background]="getButtonStyle(1)"
                            (click)="onClickConnect(1)">
                            {{this.getButtonText(1)}}
                        </div>
                    </div>
                    <div class="playercontainer">
                        <div class="playersname">{{this.gc.game.config.potentialPlayers[3].name}}</div>
                        <div class="connectbutton" 
                            [class.selectable]="isButtonSelectable(3)"
                            [class.notselectable]="!isButtonSelectable(3)"
                            [style.background]="getButtonStyle(3)"
                            (click)="onClickConnect(3)">
                            {{this.getButtonText(3)}}
                        </div>
                        <!-- color={{this.getButtonStyle(3)}} -->
                        <!-- <span [class.selectable]="isSelectable(3)"> -->
                    </div>
                </div>
                <button class="connectbutton" 
                        [class.selectable]="isStartButtonSelectable()"
                        [class.notselectable]="!isStartButtonSelectable()"
                        style="margin:10px;" (click)="onStartGameButton()">{{this.closeButtonText}}</button>
        </div>
    </div>
</div>
<div class="players-modal-background"></div>
